<table border="3">
    <tr>
        <td>id</td>
        <td>username</td>
        <td>email</td>
        
    </tr>
    {% for a in authors %}
    <tr>
        <td>{{a.id}}</td>
        <td>{{a.username | upper}}</td>
        <td>{{a.email}}</td>
    </tr>
    {% endfor %}
</table>